In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [26]:
df1 = pd.read_csv(r"C:\Users\Admin\Downloads\cc_frd_analysis\Dataset\credit_card_fraud_dataset.csv")

In [27]:
df1.shape

(8000, 20)

In [28]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 20 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Transaction Date and Time                8000 non-null   object
 1   Transaction Amount                       8000 non-null   float64
 2   Cardholder Name                          8000 non-null   object
 3   Card Number (Hashed or Encrypted)        8000 non-null   object
 4   Merchant Name                            8000 non-null   object
 5   Merchant Category Code (MCC)             8000 non-null   int64
 6   Transaction Location (City or ZIP Code)  8000 non-null   object
 7   Transaction Currency                     8000 non-null   object
 8   Card Type                                8000 non-null   object
 9   Card Expiration Date                     8000 non-null   object
 10  CVV Code (Hashed or Encrypted)           8000 non-null   object
 11  Transaction Response Code                8000 non-null   int64
 12  Transaction ID                           8000 non-null   object
 13  Fraud Flag or Label                      8000 non-null   int64
 14  Previous Transactions                    5957 non-null   object
 15  Transaction Source                       8000 non-null   object
 16  IP Address                               8000 non-null   object
 17  Device Information                       8000 non-null   object
 18  User Account Information                 3990 non-null   object
 19  Transaction Notes                        8000 non-null   object
dtypes: float64(1), int64(3), object(16)
memory usage: 1.2+ MB

In [29]:
df1.describe()

,Transaction Amount,Merchant Category Code (MCC),Transaction Response Code,Fraud Flag or Label
count,8000.000000,8000.000000,8000.000000,8000.000000
mean,2496.356036,5484.150375,5.637500,0.498625
std,1451.221326,2608.164617,4.928147,0.500029
min,1.090000,1000.000000,0.000000,0.000000
25%,1242.580000,3230.750000,0.000000,0.000000
50%,2492.460000,5455.000000,5.000000,0.000000
75%,3739.522500,7761.000000,12.000000,1.000000
max,4996.700000,9999.000000,12.000000,1.000000

In [30]:
df1.head()

,Transaction Date and Time,Transaction Amount,Cardholder Name,Card Number (Hashed or Encrypted),Merchant Name,Merchant Category Code (MCC),Transaction Location (City or ZIP Code),Transaction Currency,Card Type,Card Expiration Date,CVV Code (Hashed or Encrypted),Transaction Response Code,Transaction ID,Fraud Flag or Label,Previous Transactions,Transaction Source,IP Address,Device Information,User Account Information,Transaction Notes
0,2022-09-24 13:54:27,285.88,Shray Soman,daca51bffe0fc4eaaa7c430917f94b75fd893712492254...,"Rajagopalan, Ghose and Kant",3590,Khammam,INR,MasterCard,04/29,01299ac65733b5a3d774265fbfe8396b8611e5e3321855...,5,b7f69cbc-a03d-41f8-adca-75920b0242c3,1,NaN,Online,18.106.240.6,Tablet,NaN,Consequatur corporis minima ad vero deserunt n...
1,2020-07-24 11:20:13,1777.32,Lakshit Bakshi,d5366dd9be3a0266c0252baceaa6332210ed4dbd0ef252...,Sule PLC,7277,Vasai-Virar,EUR,American Express,03/26,ad8fa913d25b3970c6efa8ca504da8ba670ce2a9cf012d...,12,ad53cc8e-8412-422e-8cad-4176daac8387,1,NaN,Online,212.48.185.128,Mobile,jloyal,Dolore repellendus odio deleniti. Eaque quibus...
2,2023-03-18 01:05:36,3939.01,Riya Bobal,4737a6384aa1c3c31f7768b86633d6a8401dd6ab4a8ff1...,Badal PLC,9297,Nangloi Jat,USD,Visa,11/29,eb3be230bbd2844b1f5d8f2e4fab9ffba8ab22cfeeb69c...,5,f09cecd6-0d74-4551-8089-a31d64e6b9c5,1,3 or more,In-Person,17.190.112.46,Mobile,NaN,Unde beatae perspiciatis sapiente. Voluptates ...
3,2021-01-07 21:53:04,376.44,Mohanlal Balakrishnan,4721806eed8f2663bb597ff13e79a294de318358fbb54b...,Konda-Sodhi,5686,Ramagundam,USD,Visa,09/25,891d46993a36d78392247c642138cede01d9841daab1d9...,5,b208ae0b-4c4f-428f-b6b9-5360b288b947,0,2,In-Person,153.136.24.104,Tablet,NaN,Cupiditate repellendus necessitatibus quo occa...
4,2021-12-16 06:22:24,1687.33,Mannat Rout,9deacc3a9efd6e382826d400620aca5f23ed94327578e5...,Dua Ltd,2940,Adoni,INR,MasterCard,03/31,48a1a756f2d83f1dc57bbf14052b70a6f40d0fceed6662...,5,6b4e4e43-5b73-4906-9973-299a1b2a5e71,1,2,Online,196.153.28.131,Desktop,NaN,Molestias assumenda consectetur itaque veritat...

In [31]:
df1.isna().sum()

Transaction Date and Time                     0
Transaction Amount                            0
Cardholder Name                               0
Card Number (Hashed or Encrypted)             0
Merchant Name                                 0
Merchant Category Code (MCC)                  0
Transaction Location (City or ZIP Code)       0
Transaction Currency                          0
Card Type                                     0
Card Expiration Date                          0
CVV Code (Hashed or Encrypted)                0
Transaction Response Code                     0
Transaction ID                                0
Fraud Flag or Label                           0
Previous Transactions                      2043
Transaction Source                            0
IP Address                                    0
Device Information                            0
User Account Information                   4010
Transaction Notes                             0
dtype: int64

In [32]:
df1.duplicated().sum()

0

In [35]:
mean_amount = np.mean(df1['Transaction Amount'])
print("Average Transaction Amount:", mean_amount)

Average Transaction Amount: 2496.3560362499998